*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

.quotes{
    width: 500px;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 6px 3rem rgba(black,0.3);
    position: relative;
    transition: transform 500ms;
    &::before{
        content: open-quote;
        font-family: sans-serif;
        font-size: 15rem;
        position: absolute;
        top: -3.5rem;
        left: -1.5rem;
        line-height: 1;
        color: #fbc531;

    }

    &:hover{
        transform: translateY(-1rem);
    }
}

.quote{
    font-size: 1.2rem;
    text-indent: 2rem;
    text-align: justify;
 
}

.author{
    text-align: right;
    margin-bottom: 1rem;
}

.btn{
    border: none;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    display: block;
    margin: 0 auto;
    background-color: #fbc531;
    box-shadow: 0 3px 1rem rgba(black,0.3);
    transition: all 500ms;
    cursor: pointer;
    &:hover{
        box-shadow: 0 3px 1.4rem rgba(black,0.4);
        background-color: lighten(#fbc531,10%);
    }
}