*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background: #000000;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#434343), to(#000000));
  background: linear-gradient(to left, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  position: absolute;
  top: 2rem;
}

.field {
  min-width: 50%;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.5);
  position: relative;
}

.player {
  color: black;
  border: 5px solid gray;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.player__score-title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.dice {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(4% 2%, 95% 2%, 95% 95%, 4% 95%);
          clip-path: polygon(4% 2%, 95% 2%, 95% 95%, 4% 95%);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  display: none;
}

.score {
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.buttons {
  width: 100%;
  font-size: 1.5rem;
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buttons > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.5rem;
  background-color: white;
  font-size: 1.2rem;
  text-align: center;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  border: 1px solid black;
  cursor: pointer;
}

.buttons > *:hover {
  background-color: black;
  color: white;
}

button {
  font-size: inherit;
  border: none;
  background-color: transparent;
}

.ongoing {
  color: green;
  font-size: 2rem;
  position: absolute;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  top: 40%;
  right: -3rem;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  display: none;
}

.current {
  background-color: black;
  border-color: white;
  color: white;
}

.winner {
  background-color: white;
  border-color: green;
  color: green;
}

@-webkit-keyframes pulsate {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
}

@keyframes pulsate {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
}
/*# sourceMappingURL=style.css.map */